{% extends "base.html" %}
{% load static %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="header">
        <h1>Welcome to Meeting Planner</h1>
    </div>

    <div class="image-container">
        <img src="{% static 'website/cal.png' %}" width="100px">
    </div>

    <div class="links-container">
        <div class="grid">
            <div class="row">
                <a href="{% url 'scheduled_meetings' %}">Scheduled Meetings</a>
                <a href="{% url 'meeting_create' %}">Setup Meeting</a>
                <a href="{% url 'scheduled_meetings' %}">Update Meeting</a>
                <a href="{% url 'scheduled_meetings' %}">Delete Meeting</a>
            </div>
            <div class="row">
                <a href="{% url 'room_list' %}">Available Rooms</a>
                <a href="{% url 'room_create' %}">Setup Room</a>
                <a href="{% url 'room_list' %}">Update Room</a>
                <a href="{% url 'room_list' %}">Delete Room</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Hostname: <b>{{ node_name }}</b> &nbsp;| &nbsp;Container: <b>{{ container_name }}</b></p>
    </div>
{% endblock %}