<!-- room_list.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Available Rooms{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'website/meetings.css' %}">
<div class="header">
    <h1>Available Rooms</h1>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Floor</th>
            <th>Room Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{ room.name }}</td>
            <td>{{ room.floor }}</td>
            <td>{{ room.room_number }}</td>
            <td>
                <a href="{% url 'room_update' pk=room.pk %}">Update</a>&emsp;
                <a href="{% url 'room_delete' pk=room.pk %}" onclick="return confirm('Are you sure you want to delete this room?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<a href="{% url 'welcome' %}">Home</a>
{% endblock %}
